name: Release Main

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Bump version and create tag
        id: bump_version
        run: |
          # Extract the current version from package.json
          VERSION=$(jq -r '.version' package.json)
          # Increment the version number
          IFS='.' read -r -a parts <<< "$VERSION"
          ((parts[2]++))
          NEW_VERSION="${parts[0]}.${parts[1]}.${parts[2]}"
          # Update package.json with the new version
          jq --arg new_version "$NEW_VERSION" '.version=$new_version' package.json > tmp.json && mv tmp.json package.json
          echo $NEW_VERSION > VERSION.txt
          echo "New version: $NEW_VERSION"
          git config user.name "roseline124"
          git config user.email "guseod24@gmail.com"
          git add package.json
          git commit -m "Bump version to $NEW_VERSION"
          git tag "v$NEW_VERSION"
          git push origin main --tags
          echo "::set-output name=new_version::$NEW_VERSION"
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}

      - name: Generate Changelog
        id: changelog
        run: |
          echo "CHANGELOG" > CHANGELOG.md
          git log --pretty=format:"* %s (%h)" > CHANGELOG.md
        shell: bash

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.bump_version.outputs.new_version }}
          body_path: ./CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
